 @import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Rubik+Beastly&display=swap');
body{
    background-image: url("image.jpg");
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1em;
    margin-top: 0%;
    margin-bottom: 0%;
}

.miseEnPageGenerale{
    margin:0 10% 0 10%;
    }

#principale {
    background-color: #37638f;
    padding-bottom: 2%;
}
p {
    color: whitesmoke ;
}
h1 {
    color: black;
    font-family: 'Mochiy', sans-serif;
    font-size: 1.5em;
}
h5 {
    color: black;
    font-size: 1.5em;
}

#sous_partie1{
    background-color: #53a8b6;
    line-height: 1.50em;
    padding-bottom: 5%;
}

#sous_partie2 {
    background-color: #79c2d0;
    line-height: 1.50em;
    padding-bottom: 5%;
}
.gauche {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
img{
    height: 250px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 7%;
    padding-left: 10%;
}
.droite {
    display: flex;
    flex-wrap: wrap;
    flex-direction: flex-end;
}
#sous_partie3 {
    background-color: #37638f;
    line-height: 1.50em;
    padding: 5%;
}

#sous_partie4 {
    background-color:#53a8b6;
    line-height: 1.50em;
    padding: 5%;
}

#sous_partie5 {
    background-color: #79c2d0;
    line-height: 1.50em;
    padding: 5%;
}

#sous_partie6 {
    background-color: #37638f;
    line-height: 1.50em;
    padding: 5%;
}

#sous_partie7 {
    background-color: #53a8b6;
    line-height: 1.50em;
    padding: 5%;
}
@media (max-width : 1441px) {
    img{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: 35%;
}
h5 {
color: black;
font-size: 1.5em;
margin-left: 35%;
}
}
@media screen and (max-width: 1080px){
    img{
            height: 180px;
            width: 180px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            padding-left: 35%;
}
h5 {
    color: black;
    font-size: 1.5em;
    margin-left: 30%;
}
    }
@media (max-width : 680px) {
    img{
        height: 100px;
        width: 100px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: 25%;
    }
} 
@media ( max-width : 768px ) {
    img {
       padding-left: 30%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    h5 {
        margin: 30%;
        margin-bottom: 5%;
        margin-top: 5%;

    }
    }